<main class="authentication form">
  <form action="/auth" method="POST" class="authentication-form" novalidate>
    <h1><%= title %></h1>
    <p>Required fields are followed by a <strong><span aria-label="required" class="required">*</span></strong></p>
    <section>
      <input type="hidden" name="redirect" value="<%= redirect %>">
      <input type="hidden" name="previousPath" value="<%= previousPath %>">
      <p>
        <label for="password">Password <strong><span aria-label="required" class="required">*</span></strong></label>
        <input type="text" id="password" name="password" maxlength="255" required>
        <span class="error" role="alert" aria-live="polite">
          <%= locals.errors?.find(error => error.path === 'password')?.msg %>
        </span>
      </p>
    </section>
    <section>
      <p class="form-options">
        <a href="/<%= previousPath %>" class="cancel">Cancel</a>
        <button type="submit" class="submit">Enter</button>
      </p>
    </section>
  </form>
</main>