<main class="form">
  <form>
    <h1><%= title %></h1>
    <p>Required fields are followed by a <strong><span aria-label="required" class="required">*</span></strong></p>
    <section>
      <p>
        <label for="name">Name <strong><span aria-label="required" class="required">*</span></strong></label>
        <input type="text" id="name" name="name" maxlength="255" required>
      </p>
      <p>
        <label for="price">Price <strong><span aria-label="required" class="required">*</span></strong></label>
        <input type="number" id="price" name="price" step="0.01" min="0" placeholder="0.00" required>
      </p>
      <p>
        <label for="image_link">Image Link</strong></label>
        <input type="text" id="image_link" name="image_link" required>
      </p>
      <fieldset>
        <legend>Harvest</legend>
        <ul>
          <% harvests.forEach((harvest) => { %>
            <li>
              <input type="checkbox" id="<%= harvest.name %>" name="harvest" value="<%= harvest.name %>">
              <label for="<%= harvest.name %>"><%= harvest.name %></label>
            </li>
          <% }); %>
        </ul>
      </fieldset>
      <fieldset>
        <legend>Category</legend>
        <ul>
          <% categories.forEach((category) => { %>
            <li>
              <input type="checkbox" id="<%= category.name %>" name="category" value="<%= category.name %>">
              <label for="<%= category.name %>"><%= category.name %></label>
            </li>
          <% }); %>
        </ul>
      </fieldset>
      <p>
        <label for="description">Description</label>
        <textarea id="description" name="description"></textarea>
      </p>
    </section>
    <section>
      <p>
        <button type="submit" class="submit">Add fruit</button>
      </p>
    </section>
  </form>
</main>