<main class="form">
  <form method="POST" novalidate>
    <h1><%= title %></h1>
    <p>Required fields are followed by a <strong><span aria-label="required" class="required">*</span></strong></p>
    <section>
      <p>
        <label for="name">Name <strong><span aria-label="required" class="required">*</span></strong></label>
        <input type="text" id="name" name="name" maxlength="255" value="<%= locals.previousValues?.name %>" required>
        <span class="error" role="alert" aria-live="polite">
          <%= locals.errors?.find(error => error.path === 'name')?.msg %>
        </span>
      </p>
      <p>
        <label for="price_per_pound">Price per pound  <strong><span aria-label="required" class="required">*</span></strong></label>
        <input 
          type="text" 
          inputmode="decimal"
          id="price_per_pound" 
          name="price_per_pound" 
          step="0.01" 
          min="0" 
          max="9999.99" 
          placeholder="0.00" 
          value="<%= locals.previousValues?.price_per_pound %>" 
          oninput="this.value = this.value
            .replace(/[^0-9.]/g, '')
            .replace(/(\..*)\./g, '$1')"
          required
        >
        <span class="error" role="alert" aria-live="polite">
          <%= locals.errors?.find(error => error.path === 'price_per_pound')?.msg %>
        </span>
      </p>
      <p>
        <label for="image_link">Image Link</label>
        <input 
          type="text" 
          id="image_link" 
          name="image_link" 
          maxlength="1000" 
          value="<%= locals.previousValues?.image_link %>"
        >
        <span class="error" role="alert" aria-live="polite">
          <%= locals.errors?.find(error => error.path === 'image_link')?.msg %>
        </span>
      </p>
      <fieldset>
        <legend>Harvests</legend>
        <ul>
          <% harvests.forEach((harvest) => { %>
            <li>
              <input 
                type="checkbox" 
                id="<%= harvest.name %>" 
                name="harvest" 
                value="<%= harvest.name %>" 
                <%= (locals.previousValues?.harvests_array?.find((item) => item.name === harvest.name) || locals.previousValues?.harvests_array?.includes(harvest.name)) ? "checked" : "" %>
              >
              <label for="<%= harvest.name %>"><%= harvest.name %></label>
            </li>
          <% }); %>
        </ul>
      </fieldset>
      <fieldset>
        <legend>Categories</legend>
        <ul>
          <% categories.forEach((category) => { %>
            <li>
              <input 
                type="checkbox" 
                id="<%= category.name %>" 
                name="category" 
                value="<%= category.name %>"
                <%= (locals.previousValues?.categories_array.find((item) => item.name === category.name) || locals.previousValues?.categories_array.includes(category.name)) ? "checked" : "" %>
              >
              <label for="<%= category.name %>"><%= category.name %></label>
            </li>
          <% }); %>
        </ul>
      </fieldset>
      <p>
        <label for="description">Description</label>
        <textarea id="description" name="description" maxlength="1000"><%= locals.previousValues?.description %></textarea>
        <span class="error" role="alert" aria-live="polite">
          <%= locals.errors?.find(error => error.path === 'description')?.msg %>
        </span>
      </p>
    </section>
    <section>
      <p class="form-options">
        <a href="/fruits" class="cancel">Cancel</a>
        <button type="submit" class="submit">Add fruit</button>
      </p>
    </section>
  </form>
</main>