<main class="list">
  <h1 class="list-heading"><%= title %></h1>
  <section class="list-grid">
    <% if (locals.categories) { %>
      <% categories.forEach((category) => { %>
        <a href="/categories/<%= category.id %>" class="list-link">
          <div class="list-cell">
            <img src="<%= category.image_link %>" width="300" height="300">
            <p><%= category.name %></p>
          </div>
        </a>
      <% }); %>
    <% } else if (locals.fruits) { %>
      <% fruits.forEach((fruit) => { %>
        <a href="/fruits/<%= fruit.id %>" class="list-link">
          <div class="list-cell">
            <img src="<%= fruit.image_link %>" width="300" height="300">
            <p><%= fruit.name %></p>
          </div>
        </a>
      <% }); %>
    <% } %>
  </section>
</main>