<main class="list">
  <h1 class="list-heading"><%= title %></h1>
  <section class="list-grid">
    <% list.forEach((item) => { %>
      <div class="cell-container">
        <a href="<%= link %><%= item.id %>" class="list-link">
          <div class="list-cell">
            <img src="<%= item.image_link %>" width="300" height="300">
            <p><%= item.name %></p>
          </div>
        </a>
        <div class="item-options">
          <a href="<%= link %>edit/<%= item.id %>">
            <span class="material-symbols-outlined">
              edit
            </span>
          </a>
          <a href="<%= link %>delete/<%= item.id %>">
            <span class="material-symbols-outlined">
              delete
            </span>
          </a>
        </div>
      </div>
    <% }); %>
    <a href="<%= link %>create" class="list-link">
      <div class="list-cell create-card">
        <img src="/images/cards/add-card.jpg" width="300" alt="A medley of fruits">
        <p><%= addText %></p>
      </div>
    </a>
  </section>
  <% if (locals.deleteLink) { %>
    <div class="delete-container">
      <form action="<%= deleteLink %>" method="POST" class="delete-form">
        <h1>Are you sure?</h1>
        <p>Deleting is <strong>PERMANENT</strong>, so please be careful before deleting!</p>
        <button type="submit">Delete</button>
      </form>
    </div>
  <% } %>
</main>